/* COMMON */
* {
    margin: none;
    padding: none;
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: none;
}

/* NAVIGATION */

nav > ul{
    display: flex;
    gap: 1rem;
    align-items: stretch;
    width: 100%;
    list-style: none;
    padding: 0;
}

nav > ul > li {
    background-color: rgb(0, 206, 247);
    padding: 1rem;
}

nav > ul > li > a {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
}


.pull-right {
    margin-left: auto;
}




/* IMPORT */

.import-option {
    display: inline-block;
    max-width: 500px;
    aspect-ratio: 1/1;
}

.import-option-icon {
    width: 50%;
}

.hidden {
    display: none;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
}

.main-canvas-display {
    width: 500px;
    height: 500px;
    background-color: red;
}

